.header__member-area {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 644px) {
  .header__member-area {
    flex-wrap: wrap;
    justify-content: right;
    margin-right: 15px;
  }
}